<p id="notice"><%= notice %></p>

<h1>Sitio Administración</h1>

<table>
  <thead>
    <tr>
      <th>Titular</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.titular %></td>
        <td><%= admin.bajada %></td>
        <td><%= admin.cuerpo %></td>
        <td><%= admin.created_at%></td>
        <td><%= link_to 'Editar', edit_admin_path(admin) %></td>
        <td><%= link_to 'Eliminar', admin, method: :delete, data: { confirm: 'Al apretar ACEPTAR se eliminará la noticia permanentemente' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Noticia', new_admin_path %>
