<p id="notice"><%= notice %></p>

<p>
  <strong>Titular:</strong>
  <%= @admin.titular %>
</p>

<p>
  <strong>Bajada:</strong>
  <%= @admin.bajada %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @admin.cuerpo %>
</p>

<%= link_to 'Editar', edit_admin_path(@admin) %> |
<%= link_to 'Regresar', admins_path %>
