<p id="notice"><%= notice %></p>

<h1>Portal de Noticias</h1>
<p> algo </p>

<%= link_to 'Sitio Administrador', :admins %> 

 <table>
  <thead>
    <tr>
      <th>Titular</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.titular %></td>
        <td><%= admin.bajada %></td>
        <td><%= admin.cuerpo %></td>
        <td><%= admin.created_at%></td>
        <td><%= link_to 'Expandir Noticia', admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>